/*  */

body {
   padding: 0px;
   margin: 0px;
}


html {
    background-color: #FFF8E7;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #44362F;
    padding: 0px;
    margin: 0px;
}


header {
    background-color: burlywood;
    color: brown;
    padding: 3px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header h4 {
    display: flex;
    justify-content: center;
    /* margin-top: 5px; */
    padding: 5px;
    size: 0.75rem;
    margin: 0px;
}

h2 {
    color:#610b0b;
    size: 0.75rem;
    font-weight: bold;
    margin: 0px;
}

h4 {
    color:chocolate;
}

nav a {
    padding: 5px;
    margin: 5px;
    color: #610b0b;
    font-size: 15px;
}

a.anchor {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}

.pic {
    background-image: url("../assets/photo-1494438639946-1ebd1d20bf85.jpeg");
    background-size: cover;
    min-height: 500px;
    padding: 0;
    margin: 0;
}

#hero {
    display: flex;
     flex-direction: column;
     justify-content: center;
     /* margin: 1rem; */
     padding: 1rem;
}

section {
    margin-top: 0.25rem;
    margin-left: 0.5rem; 
    padding: 0.25rem;
}

section li {
    list-style: none;
    padding: 5px;
    /* align-self: center; */
    /* margin: 10px; */
 }

 .container {
     display: flex;
     flex-direction: row;
     border: 0.5px brown solid;
     /* align-items: center ; */
 }

 /* .container li {
    flex-grow: 1;
    flex-basis: 200px;
 } */

 /* .container li {
    border: 0.5px brown solid;
    margin: 10px 0;
    background-color: rgb(243, 228, 211);
} */

 #containerSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* border: 3px brown solid; */
}

.itemSkills {
    border: 1px brown solid;
    padding: 10px;
    margin: 10px;
}

.projectStyle {
   display: inline-block;
   column-count: 2;
   margin: 5px;
   padding: 5px; 
}

.projectUl {
    padding: 5px;
    color: chocolate;

}

 a {
    color: #44362F;
    text-decoration: none;
  }
 
  a:hover {
    text-decoration: underline;
  }

button {
    padding: 0.5em;
    margin: 0.25em;
    font-family: 'Lato', sans-serif;
    color: #610b0b;
    border-radius: 5px;
    border:1px solid #610b0b;
    max-height: 40px;
}

 #messages ul {
    list-style: decimal;
 }

 form label {
    font-family: 'Lato', sans-serif;
    color: #610b0b;
    font-size: 15px;
    font-weight: bold;
 }

 form input {
    padding: 0.5rem;
    font-size: 0.75rem;
    /* margin-bottom: 1em;
    margin-top: 1em; */
 }

 form textarea {
    padding: 5px;
    font-size: 0.75rem;
    margin-bottom: 1em;
    /* margin-top: 1em;   */
 }

/* Grid container */
 .messageSection {
   display: grid;
   grid-template-columns: 30% 50%;
 }
 /* Grid items */

 .newMessage {
     background-color: white;
     padding: 10px;
     display: grid;
     grid-template-columns: minmax(100px, 1fr) 1fr minmax(100px, 4fr) repeat(2, minmax(60px, 70px));
     grid-gap: 5px;
 }
  
 
/*  */

 form {
   margin-top: 18px;
 }


 .remove {
    border:2px solid red;
 }

footer {
    background-color: burlywood;
    letter-spacing: 0.25rem;
    padding: 5px;;
 
    /* margin-bottom: 0px; 
    font-size: 15px; */
}

#social {
    display: flex;
 
    justify-content: center;
}

footer p {
    padding: 0.25rem;
    color: #610b0b;
    border-top: dotted lightgrey 2px;
    font-size: 15px;
    margin: 0;
}

footer a {
    padding: 5px;
    margin: 5px;
    color: #44362F;
    font-weight: bolder;
}


@media print {
    section {
        min-height: auto;
        margin: 0;
    }
    header {
        position: relative;
    }
}

 @media screen and (min-width: 150px) and (max-width: 530px) {
  .container {
    /* display: list-item;
    list-style: none; */
    flex-direction: column;
  }

  /* #containerSkills {
    flex-direction: column;
  } */
} 

@media screen and (min-width: 150px) and (max-width: 690px) {
    .projectStyle {
        display: list-item;
        column-count: 1;
        list-style: none; 
    }
}
@media screen and (min-width: 150px) and (max-width: 1055px) {
    .messageSection {
        display: flex;
        flex-direction: column;      
      }
    .newMessage {
        display: list-item;
        list-style: none; 
        justify-content: center;
    }
}



/* .container {
    display: grid;
    grid-template-rows: 200px 300px 100px;
    grid-template-columns: 200px 400px 200px;
    grid-gap: 20px;
    } */
    

